*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body, html{
    width: 100%;
}


/*MENU DE NAVEGACION*/

.navegacion{
/*    height: 100px;*/
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.navegacion li{
/*    background-color: aquamarine;*/
    width: 10%;
    padding: 30px 45px;
    list-style: none;
}
.navegacion li a{
    text-decoration: none;
    color: black;
}


/*BANNER PRINCIPAL*/

header{
    background-image: url(../img/banner1.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
/*    z-index: 2;*/
    
}
header::before{
    content: "";
    background: rgba(92, 91, 91, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
h1, div, p{
/*    position: absolute;*/
    position: relative;
    z-index: 88;
}
header h1{
    text-align: center;
    padding-bottom: 15px;
/*    position: absolute;*/
}
header div{
    text-align: center;
    height: 100px;
    width: 300px;
    background-color: black;
}
header p{
    text-align: center;
    padding: 25px 100px;;
}


/*SECCION DE PRODUCTO*/

.producto{
/*    background-color: red;*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;
}

.producto div{
    height: 350px;
    width: 300px;
    margin: 5px 35px;
    background-color: bisque;
}


.portafolio{
    height: 150px;
    background-color: #c4c7c6;
    text-align: center;
    padding: 10px;
}

footer{
    background-color: olivedrab;
    height: 150px;
}




.foto{
    height: 400px;
    background-color: azure;
    display: flex;
    flex-wrap: wrap;
/*    display: inline-block;*/
}

.foto img{
    width: 25%;
    height: 250px;
    display: block;
    object-fit: cover;
}














